/* 背景スタイル */

/* 事前に直接設定したスタイルを消すこと */


/* チェック柄 */
.bg_check{
	background-color:#fff;
	color:#000;
	background-image:
	repeating-linear-gradient(45deg,
	rgba(100, 160, 250, 0.3),
	rgba(100, 160, 250, 0.3) 22px,
	rgba(0, 0, 0, 0) 0,
	rgba(0, 0, 0, 0) 44px),
	repeating-linear-gradient(-45deg,
	rgba(100, 160, 250, 0.32),
	rgba(100, 160, 250, 0.32) 22px,
	rgba(0, 0, 0, 0) 0,
	rgba(0, 0, 0, 0) 44px);
}

/* こんな感じの一行で .style="" と書くのが困難なスタイルはここで定義します */

